<!DOCTYPE html>
<html lang="en" ng-app="todoApp">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Angular Lab</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    
    <section ng-controller="ToDoController as $ctrl">
        <p class="title">TODO List</p>
        <p class="subtitle">A place to store the things you have to do!</p>
        <input type="text" placeholder="Filter your to-dos">
        <ol>
            
            <li ng-repeat="todo in $ctrl.tasks">
                <button ng-if="!todo.completed">Complete</button>
                <p ng-class="{completed: todo.completed}">{{ todo.task }}</p>
                <a href="">X</a>
            </li>
            
        </ol>
            <input type="text" placeholder="Add your to do">
        <button class="addbtn">Add</button>
    </section>
    
    
    <script src="https://code.angularjs.org/1.6.5/angular.js"></script>
    <script src="app.module.js"></script>
    <script src="app.controller.js"></script>
</body>
</html>